/node_modules
/dist
trace.*
.yo-repository
/build
*.stackdump
/prebuilds
/test/end-to-end/artifacts/code-coverage-details.json
*.temp.c
/microvium.exe
/microvium/microvium.h
/microvium/microvium.c
/microvium/microvium_port.h
/scope-analysis.json
/scope-analysis
dbg*